<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1587162146766-e06b1189b907?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1425&q=80) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:70vh">
  <div class="container">
    <h1 class="display-4" style="color: white;">New York</h1>
  </div>
</div>

<div class="container">
<div class="row justify-content-center align-item-center">
    <div class="col-sm-10">
      <a class="card space-card box-shadow" style="text-align: center backgorund-origin: padding-box" href="/planes/1">
          <img class="card-img-top" style="border: 25px solid #555" alt="image" src="https://images.unsplash.com/photo-1601636759502-2112d13ed748?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2736&q=80" data-holder-rendered="true">
          <div class="card-body p-12">
              <h3>Cessna</h3>
              <p class="card-text-address">Westchester County Airport — White Plains, NY </p>
              <p class="card-text-occupancy">6 people</p>
              <p class="card-text-price">$4,000 per trip</p>
              <div class="d-flex justify-content-center align-item-center">
                  <div class="btn-group mt-auto ">
                  <button type="button" class="btn btn-primary">Book now!</button>
                  </div>
              </div>
          </div>
      </a>
    </div>
</div>
</div>

<%# <%= render 'shared/product-card' %> 
<% @planes.each do |plane| %>
  <%= plane.city %>
<% end %>
