<h1> "CONGRATULATIONS!!!" </h3>
<h2> "You have a flight!!"</h2>
<ul class="list-group">
    <li class="list-group-item">Destination: <%= @booking.destination%></li>
    <li class="list-group-item">Booking id: <%= @booking.id%></li>
    <li class="list-group-item">Plane id: <%= @booking.plane.id%></li>
</ul>
