<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://eagleexpress.ch/wp-content/uploads/2020/02/AdobeStock_235490181-1024x354.jpeg);">
  <div class="containers">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-danger" href="#">Book Your Trip</a>
  </div>
</div>

</div>