<h2 class="py-5 title">Our Top Cities</h2>
<div class="row">
<div class="container">

  <div class="panel active" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1610825927594-4b9441c59861?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
    <h3>Gulfstream G650ER</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1585414730762-5834cbcfb593?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80')">
    <h3>Bombardier Global 7500</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://www.airpartner.com/media/vscmelyz/cessa-citation-longitude-1140x980.jpg')">
    <h3>Cessna Citation Longitude</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://cdn.boatinternational.com/convert/bi_prd/bi/library_images/0PXipkGoRL2rkfdFwVwU_embraer-private-jet.jpg/r%5Bwidth%5D=1920/0PXipkGoRL2rkfdFwVwU_embraer-private-jet.webp')">
    <h3>Embraer Phenom 300E</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://cdn.boatinternational.com/convert/bi_prd/bi/library_images/HExsdKntRfWGEGnUZVmI_Gulfstream_G550.jpg/r%5Bwidth%5D=1920/HExsdKntRfWGEGnUZVmI_Gulfstream_G550.webp')">
    <h3>Gulfstream G550</h3>
  </div>
</div>
</div>