<h2 class="py-5" style="text-align: center;">Most Popular Fleet</h2>
<div class="row align-items-center justify-content-center m-0" style="overflow: hidden">
<div class="container d-flex" style="width:90vw">

  <div class="panel active" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://www.gamaaviation.com/wp-content/uploads/2018/10/bombardier-global-xrs.jpg')">
    <h3>Bombardier Global Express</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2019/12/18/00/41/airplane-4702804_960_720.jpg')">
    <h3>Phenon E135</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://www.gulfstream.com/assets/images/aircraft/g550/d_g550_a_mkt_837_web.jpg')">
    <h3>Gulfstream G550</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://lh3.googleusercontent.com/proxy/y3vqk9a74R-yic37488Zr1e3mtghOIREMq55YdtlbniE3bBjdHcxrcUN4pq87OKWwfwRsruJzCECdQ5tLkRKeWV8omLHgRNXeptvEYcdyVUSf3AVk6-P5Qg8ivjLYyrk-K8MQki4Jf2w3A')">
    <h3>Dassault Falcon 8X</h3>
  </div>

  <div class="panel" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://cdn.avbuyer.com/live/uploads/cms/112101_112200/112112_9a85cfec5653ee88_969X727.jpg')">
    <h3>Cessna Citation X</h3>
  </div>
</div>
</div>