<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> %>

<footer class="footer page-footer" >
  <div class="background-footer">
    <div class="container">
      <div class="row py-3 d-flex align-items-center">
        <div class="col-md-12 text-center footer-links social-media">
          <a href="#"><i class="fab fa-github mr-4"></i></a>
          <a href="#"><i class="fab fa-instagram mr-4"></i></a>
          <a href="#"><i class="fab fa-facebook mr-4"></i></a>
          <a href="#"><i class="fab fa-twitter mr-4"></i></a>
          <a href="#"><i class="fab fa-linkedin mr-4"></i></a>        
        </div>
      </div>
    </div> 
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">The Providers</h6>
        <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
        <p class="mt-2 list-unstyled">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, placeat dolore molestiae minima iure numquam eaque est repudiandae corrupti! Voluptas.</p>
      </div>

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Product</h6>
        <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

        <ul class="list-unstyled">
          <li class="my-2"><a href="#">HTML 5</a></li>
          <li class="my-2"><a href="#">CSS 3</a></li>
          <li class="my-2"><a href="#">Bootstrap 4</a></li>
          <li class="my-2"><a href="#">Javascript</a></li>
        </ul>
      </div>

        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Usefull Links</h6>
          <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px">

          <ul class="list-unstyled">
            <li class="my-2"><a href="#">Home</a></li>
            <li class="my-2"><a href="#">About</a></li>
            <li class="my-2"><a href="#">List Your Plane</a></li>
            <li class="my-2"><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Contacts</h6>
          <hr class="bg-secondary mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px">

          <ul class="list-unstyled">
            <li class="my-2"><i class="fas fa-home"> Mexico</i></li>
            <li class="my-2"><i class="fas fa-envelope"> airplanebnb@gmail.com</i></li>
            <li class="my-2"><i class="fas fa-phone"></i>+507 6423-3242</li>
          </ul>
        </div>
    </div>
  </div>
<hr class="bg-secondary">
  <div class="footer-copyright text-center py-3">
    <p>&copy; Copyright
    <a href="#">airplanebnb.com</a></p>
    <p>This footer is made with <i class="fas fa-heart"></i> at Le Wagon</p>
  </div>
</footer>