.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-bar{
  margin-top: 350px;
  margin-left: 25%;
  width: 50%;
}

.input-group {
  justify-content: center;
}


// .container {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   padding-bottom: 50px;
// }