.footer a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}
.footer .social-media a:hover {
  opacity: 1;
  color: #E50207;
}
.footer .fa-heart {
  color: #D23333;
}

.footer .list-unstyled {
  color: white;
}

.footer .list-unstyled a:hover {
  color: #E50207;
}


.footer {
  background-color: #343A40;
  margin-top: 350px;
}

.background-footer {
  background-color: #343A40;
}

.footer-copyright {
  color: white;
}

