.booking-card {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 15px;
  
  }
  
  #main-picture {
    height: 400px;
    width: 100%;
  }

  #second-pic {
    height: 100px;
    width: 40%;
    margin-top: 5px;
    margin-left: 5px ;
  }

  #third-pic {
    height: 100px;
    width: 40%;
    margin-top: -175px;
    margin-left: 307px;
  }
  
  .booking-card h2 {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
  }
  
  .booking-card p {
    font-size: 20px;
    opacity: .7;
    margin: 0;
  }
  
  
 .booking-card-infos {
    width: 50%;
    padding: 24px;
  }

  .booking_form {
    width: 50%;
    font-size: 15px;
    margin-left: 550px;
    margin-top: -124px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
  }

 