
  .container {
    margin-top: 100px;
  }
  
  #main-picture {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .booking-info {
    padding: 20px;
    border-radius: 12px;
  }

  .booking-info h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .booking-info h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .booking-card p {
    font-size: 20px;
    opacity: .7;
    margin: 0;
  }

  .btn-book {
    color: #fff;
    background-color: #FD1015;
    border-color: #FD1015;
    margin-top: 10px;
  }
  
  
  .booking-form {
    font-size: 17px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
  }

  .booking-form p {
    font-size: 30px;
    margin-top: 10px;
  }


 

 